Bin

bin/
obj/

*.suo
*.userprefs
*.csproj.user
*.pidb

*/obj/
*/bin/
*/*.suo
*/*.pidb
*/*.userprefs
*/*.csproj.user

*/*/obj/
*/*/bin/
*/*/*.suo
*/*/*.pidb
*/*/*.userprefs
*/*/*.csproj.user

*/*/*/obj/
*/*/*/bin/
*/*/*/*.suo
*/*/*/*.pidb
*/*/*/*.userprefs
*/*/*/*.csproj.user
